@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  padding: 0;
  background: url(../img-bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
  background-color: #f4f4f4;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
/* MAIN */
main {
  width: 40%;
  background-color: #eee;
  margin: auto;
  border-radius: 25px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  background-color: #5f5f5f;
  margin: 0;
  border-radius: 25px 25px 0 0;
  line-height: 1.8;
}
.bottom {
  background-color: #5f5f5f;
  height: 3.5rem;
  margin-top: 2rem;
  border-radius: 0 0 25px 25px;
}
p {
  margin: 0;
}
input,
select {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
button {
  background-color: #5f5f5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 20px;
  width: 175px;
}
button:hover {
  background-color: #777777;
  cursor: pointer;
}
/* RESULT */

.result {
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 4rem;
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
}
.result p {
  margin: 1rem;
}

.hidden {
  display: none;
}
.hidden {
  color: hsl(0, 58%, 68%);
}
